---
import type { TeamGrid as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';

const { items = [], columns, classes = {} } = Astro.props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  image: defaultImageClass = 'text-primary',
  action: actionClass = '',
  links: linksClass = ''
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, image, links = [], classes: itemClasses = {} }) => (
        <div>
          <div class={twMerge('flex flex-col max-w-md', panelClass, itemClasses?.panel)}>
            <div class="flex justify-center">
              {(image) && (
                <img
                  src={image}
                  alt={title}
                  class={twMerge('w-24 h-24 rounded-full mb-4', defaultImageClass, itemClasses?.image)}
                />
              )}
            </div>
            <div class="mt-0.5 text-center">
              {title && <h3 class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{title}</h3>}
              {description && (
                <p
                  class={twMerge(`${title ? 'mt-3' : ''} text-muted`, descriptionClass, itemClasses?.description)}
                  set:html={description}
                />
              )}
              {links.length > 0 && (
                <div class={twMerge('mt-3 flex justify-center space-x-2', linksClass, itemClasses?.links)}>
                  {links.map(({ icon, href }) => (
                    <a href={href} class="inline-block">
                      <Icon name={icon} class="w-6 h-6" />
                    </a>
                  ))}
                </div>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  )
}
